---
layout: default
title: Home
---

<p>
  It is time to transform how we build software.</br>
  It is time to deliver high-quality code, on schedule.
</p>
<p>
  I implement best practices to help teams and developers
  achieve sustainable development aligned with business needs. 
  Learn more about 
  <a href="{{ site.baseurl }}/philosophy/">my philosophy</a>
</p>

<p><img src="/images/keyboard.jpg" alt="keyboard"></p>
<div class="image-attribution" >Image by <a href="http://framallo.com">Me</a></div>

<p>
  I share my journey on this blog. 
</p>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

