<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta rel="author" href="{{ site.plus_url }}" />
  <meta property="og:title"       content="{{ site.og_title }}"       />
  <meta property="og:type"        content="{{ site.og_type }}"        />
  <meta property="og:image"       content="{{ site.og_image }}"       />
  <meta property="og:url"         content="{{ site.og_url }}"         />
  <meta property="og:description" content="{{ site.og_description }}" />
  <meta property="fb:admins"      content="{{ site.fb_admins }}"      />
  <meta property="fb:profile_id"      content="{{ site.fb_profile_id }}"      />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
